<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopción Exitosa</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>¡Interacción Exitosa!</h1>
    <p>Has interactuado con tu adorable mascota.</p>
    <button onclick="volverAlMenu()">Volver al Menú Principal</button>

    <script>
        function volverAlMenu() {
            // Redirige al menú principal
            window.location.href = 'http://localhost:5002';  // Aquí va la URL del menú principal
        }
    </script>
</body>
</html>